/.vscode
/Apostila Jornada Python - Aula 1.pdf
/arquivos.py
/automacao_pyautogui.py
/carros.py
/contatos.txt
/elif.py
/exp_elif.py
/Gabarito.py
/galeria.db
/inteiro idade = 15.cpp
/jornada python
/jornada.py
/JUPYTER
/listas.py
/listas_dict_set.py
/loops.py
/nome.py
/novo.py
/object def class.py
/ola_mundo.py
/pedidos.csv
/pegar_posicao.py
/pessoas.py
/pessoas.txt
/PHYTON
/produtos.csv
/pycharm-community-edition-2024.2.2-installer_H1a-f81.exe
/pycharm-professional-2024.2.3.exe
/python-3.12.6-amd64.exe
/split.py
/sql.py
/string_modulos.py
/testeArquivo.txt
/Vendas.xlsx
/__pycache__